In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Pattern mining on relational data

In [2]:
mydf = pd.read_csv("../../../Dataset/credit_default_cleaned.csv", skipinitialspace=True)
mydf.head()

,limit,sex,education,status,age,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,...,ba-jun,ba-may,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr,credit_default
0,50000,male,graduate school,single,25.0,2,0,0,0,0,...,49535,30358,30302,2130,1905,1811,1100,1100,1200,no
1,200000,male,university,married,54.0,-1,-1,-1,-1,-1,...,6335,4616,7956,10120,7852,6336,4622,7956,5499,no
2,30000,female,high school,married,41.0,2,3,2,2,2,...,30496,29731,29047,0,1700,1100,3,1053,1303,no
3,140000,female,university,single,28.0,0,0,0,0,0,...,25224,26855,23783,2000,2000,900,2000,10000,5000,no
4,60000,female,high school,married,36.0,1,2,2,0,0,...,48738,49601,52773,1788,0,1894,1801,3997,0,yes

From relational to transactional

In [3]:
from fim import apriori

Extract frequent patterns

Extract decision rules

Pattern mining on categorical data

In [4]:
df = pd.read_csv("titanic.csv", skipinitialspace=True, sep=',')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Remove useless columns

In [6]:
column2drop = ['PassengerId', 'Name', 'Cabin', 'SibSp', 
               'Parch', 'Ticket']
df.drop(column2drop, axis=1, inplace=True)

df.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

Apply binning to continuous features

In [7]:
mydf['AgeBin'] = pd.cut(mydf['age'].astype(int), 10, right=False)
mydf['LimitBin'] = pd.cut(mydf['limit'].astype(int), 50, right=False)

mydf.drop(['age', 'limit'], axis=1, inplace=True)

columnsTitles = ["credit_default", "sex", "education", "status", "AgeBin", "LimitBin", "ps-sep", "ps-aug", "ps-jul", "ps-jun", "ps-may", "ps-apr", "pa-sep", "pa-aug", "pa-jul", "pa-jun", "pa-may", "pa-apr", "ba-sep", "ba-aug", "ba-jul", "ba-jun", "ba-may", "ba-apr"]

mydf = mydf[columnsTitles]
mydf.head()

,credit_default,sex,education,status,AgeBin,LimitBin,ps-sep,ps-aug,ps-jul,ps-jun,...,pa-jul,pa-jun,pa-may,pa-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr
0,no,male,graduate school,single,"[21.0, 26.4)","[40800.0, 56200.0)",2,0,0,0,...,1811,1100,1100,1200,48966,49985,50760,49535,30358,30302
1,no,male,university,married,"[53.4, 58.8)","[194800.0, 210200.0)",-1,-1,-1,-1,...,6336,4622,7956,5499,10755,9981,7843,6335,4616,7956
2,no,female,high school,married,"[37.2, 42.6)","[25400.0, 40800.0)",2,3,2,2,...,1100,3,1053,1303,30057,29280,30206,30496,29731,29047
3,no,female,university,single,"[26.4, 31.8)","[133200.0, 148600.0)",0,0,0,0,...,900,2000,10000,5000,56426,41717,42823,25224,26855,23783
4,yes,female,high school,married,"[31.8, 37.2)","[56200.0, 71600.0)",1,2,2,0,...,1894,1801,3997,0,47987,48716,47632,48738,49601,52773

Remap values (not labeling ps, since they are the only values in [-2, +6]

In [8]:
mydf['ba-sep'] = mydf['ba-sep'].astype(str) + '_ba-sep'
mydf['ba-aug'] = mydf['ba-aug'].astype(str) + '_ba-aug'
mydf['ba-jul'] = mydf['ba-jul'].astype(str) + '_ba-jul'
mydf['ba-jun'] = mydf['ba-jun'].astype(str) + '_ba-jun'
mydf['ba-may'] = mydf['ba-may'].astype(str) + '_ba-may'
mydf['ba-apr'] = mydf['ba-apr'].astype(str) + '_ba-apr'

mydf['pa-sep'] = mydf['pa-sep'].astype(str) + '_pa-sep'
mydf['pa-aug'] = mydf['pa-aug'].astype(str) + '_pa-aug'
mydf['pa-jul'] = mydf['pa-jul'].astype(str) + '_pa-jul'
mydf['pa-jun'] = mydf['pa-jun'].astype(str) + '_pa-jun'
mydf['pa-may'] = mydf['pa-may'].astype(str) + '_pa-may'
mydf['pa-apr'] = mydf['pa-apr'].astype(str) + '_pa-apr'

mydf['AgeBin'] = mydf['AgeBin'].astype(str) + '_Age'
mydf['LimitBin'] = mydf['LimitBin'].astype(str) + '_Limit'

mydf.head()

,credit_default,sex,education,status,AgeBin,LimitBin,ps-sep,ps-aug,ps-jul,ps-jun,...,pa-jul,pa-jun,pa-may,pa-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr
0,no,male,graduate school,single,"[21.0, 26.4)_Age","[40800.0, 56200.0)_Limit",2,0,0,0,...,1811_pa-jul,1100_pa-jun,1100_pa-may,1200_pa-apr,48966_ba-sep,49985_ba-aug,50760_ba-jul,49535_ba-jun,30358_ba-may,30302_ba-apr
1,no,male,university,married,"[53.4, 58.8)_Age","[194800.0, 210200.0)_Limit",-1,-1,-1,-1,...,6336_pa-jul,4622_pa-jun,7956_pa-may,5499_pa-apr,10755_ba-sep,9981_ba-aug,7843_ba-jul,6335_ba-jun,4616_ba-may,7956_ba-apr
2,no,female,high school,married,"[37.2, 42.6)_Age","[25400.0, 40800.0)_Limit",2,3,2,2,...,1100_pa-jul,3_pa-jun,1053_pa-may,1303_pa-apr,30057_ba-sep,29280_ba-aug,30206_ba-jul,30496_ba-jun,29731_ba-may,29047_ba-apr
3,no,female,university,single,"[26.4, 31.8)_Age","[133200.0, 148600.0)_Limit",0,0,0,0,...,900_pa-jul,2000_pa-jun,10000_pa-may,5000_pa-apr,56426_ba-sep,41717_ba-aug,42823_ba-jul,25224_ba-jun,26855_ba-may,23783_ba-apr
4,yes,female,high school,married,"[31.8, 37.2)_Age","[56200.0, 71600.0)_Limit",1,2,2,0,...,1894_pa-jul,1801_pa-jun,3997_pa-may,0_pa-apr,47987_ba-sep,48716_ba-aug,47632_ba-jul,48738_ba-jun,49601_ba-may,52773_ba-apr

In [9]:
baskets = mydf.values.tolist()

In [10]:
baskets[0]

['no',
 'male',
 'graduate school',
 'single',
 '[21.0, 26.4)_Age',
 '[40800.0, 56200.0)_Limit',
 2,
 0,
 0,
 0,
 0,
 0,
 '2130_pa-sep',
 '1905_pa-aug',
 '1811_pa-jul',
 '1100_pa-jun',
 '1100_pa-may',
 '1200_pa-apr',
 '48966_ba-sep',
 '49985_ba-aug',
 '50760_ba-jul',
 '49535_ba-jun',
 '30358_ba-may',
 '30302_ba-apr']

In [11]:
itemsets = apriori(baskets, supp=1, zmin=2, target='a')

In [12]:
print('Number of itemsets:', len(itemsets))

Number of itemsets: 197817

In [13]:
itemsets[:10]

[(('10000_pa-jun', 0), 100),
 (('10000_pa-may', 0), 104),
 (('10000_pa-may', 'no'), 100),
 (('10000_pa-apr', 0), 101),
 (('4000_pa-jun', 0), 111),
 (('4000_pa-jul', 0), 119),
 (('4000_pa-jul', 0, 'no'), 103),
 (('4000_pa-jul', 'no'), 104),
 (('10000_pa-sep', 0), 124),
 (('10000_pa-sep', 0, 'no'), 115)]

# All frequent patterns

In [62]:
#zmin -> minimum number of items per itemset
#supp -> support
#conf -> confidence
#target -> a = all
#report -> ascl = 
    #(a, absolute itemset support);
    #(s, relative itemset support as a fraction);
    #(c, rule confidence as a fraction);
    #(l, lift value of a rule)
#OBS: confidence value useless if not taking into account the association rules
for s in range(1, 100):
    #for c in range(1, 100):
    rules = apriori(baskets, supp=s, zmin=2, target='a', conf=60, report='scl')
    numRules= len(rules)
    if (numRules == 0):
        break
    print('~~~~~~~~~Supp: ', s, ' Conf: 60 Number of rules:', len(rules))
    for r in rules:
        if r[0] == 'yes':
            print(r)

~~~~~~~~~Supp:  1  Conf: 60 Number of rules: 197817
~~~~~~~~~Supp:  2  Conf: 60 Number of rules: 41668
~~~~~~~~~Supp:  3  Conf: 60 Number of rules: 13285
~~~~~~~~~Supp:  4  Conf: 60 Number of rules: 6038
~~~~~~~~~Supp:  5  Conf: 60 Number of rules: 2396
~~~~~~~~~Supp:  6  Conf: 60 Number of rules: 1176
~~~~~~~~~Supp:  7  Conf: 60 Number of rules: 618
~~~~~~~~~Supp:  8  Conf: 60 Number of rules: 401
~~~~~~~~~Supp:  9  Conf: 60 Number of rules: 275
~~~~~~~~~Supp:  10  Conf: 60 Number of rules: 203
~~~~~~~~~Supp:  11  Conf: 60 Number of rules: 157
~~~~~~~~~Supp:  12  Conf: 60 Number of rules: 122
~~~~~~~~~Supp:  13  Conf: 60 Number of rules: 96
~~~~~~~~~Supp:  14  Conf: 60 Number of rules: 80
~~~~~~~~~Supp:  15  Conf: 60 Number of rules: 71
~~~~~~~~~Supp:  16  Conf: 60 Number of rules: 61
~~~~~~~~~Supp:  17  Conf: 60 Number of rules: 57
~~~~~~~~~Supp:  18  Conf: 60 Number of rules: 45
~~~~~~~~~Supp:  19  Conf: 60 Number of rules: 38
~~~~~~~~~Supp:  20  Conf: 60 Number of rules: 37
~~~~~~~~~Supp:  21  Conf: 60 Number of rules: 33
~~~~~~~~~Supp:  22  Conf: 60 Number of rules: 27
~~~~~~~~~Supp:  23  Conf: 60 Number of rules: 24
~~~~~~~~~Supp:  24  Conf: 60 Number of rules: 24
~~~~~~~~~Supp:  25  Conf: 60 Number of rules: 20
~~~~~~~~~Supp:  26  Conf: 60 Number of rules: 19
~~~~~~~~~Supp:  27  Conf: 60 Number of rules: 19
~~~~~~~~~Supp:  28  Conf: 60 Number of rules: 17
~~~~~~~~~Supp:  29  Conf: 60 Number of rules: 15
~~~~~~~~~Supp:  30  Conf: 60 Number of rules: 12
~~~~~~~~~Supp:  31  Conf: 60 Number of rules: 10
~~~~~~~~~Supp:  32  Conf: 60 Number of rules: 10
~~~~~~~~~Supp:  33  Conf: 60 Number of rules: 9
~~~~~~~~~Supp:  34  Conf: 60 Number of rules: 9
~~~~~~~~~Supp:  35  Conf: 60 Number of rules: 8
~~~~~~~~~Supp:  36  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  37  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  38  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  39  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  40  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  41  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  42  Conf: 60 Number of rules: 3
~~~~~~~~~Supp:  43  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  44  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  45  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  46  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  47  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  48  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  49  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  50  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  51  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  52  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  53  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  54  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  55  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  56  Conf: 60 Number of rules: 1

# Closed frequent patterns

In [63]:
for s in range(1, 100):
    #for c in range(1, 100):
    rules = apriori(baskets, supp=s, zmin=2, target='c', conf=60, report='scl')
    numRules= len(rules)
    if (numRules == 0):
        break
    print('~~~~~~~~~Supp: ', s, ' Conf: 60 Number of rules:', len(rules))
    for r in rules:
        if r[0] == 'yes':
            print(r)

~~~~~~~~~Supp:  1  Conf: 60 Number of rules: 48759
~~~~~~~~~Supp:  2  Conf: 60 Number of rules: 14928
~~~~~~~~~Supp:  3  Conf: 60 Number of rules: 6120
~~~~~~~~~Supp:  4  Conf: 60 Number of rules: 3052
~~~~~~~~~Supp:  5  Conf: 60 Number of rules: 1614
~~~~~~~~~Supp:  6  Conf: 60 Number of rules: 934
~~~~~~~~~Supp:  7  Conf: 60 Number of rules: 563
~~~~~~~~~Supp:  8  Conf: 60 Number of rules: 379
~~~~~~~~~Supp:  9  Conf: 60 Number of rules: 268
~~~~~~~~~Supp:  10  Conf: 60 Number of rules: 203
~~~~~~~~~Supp:  11  Conf: 60 Number of rules: 157
~~~~~~~~~Supp:  12  Conf: 60 Number of rules: 122
~~~~~~~~~Supp:  13  Conf: 60 Number of rules: 96
~~~~~~~~~Supp:  14  Conf: 60 Number of rules: 80
~~~~~~~~~Supp:  15  Conf: 60 Number of rules: 71
~~~~~~~~~Supp:  16  Conf: 60 Number of rules: 61
~~~~~~~~~Supp:  17  Conf: 60 Number of rules: 57
~~~~~~~~~Supp:  18  Conf: 60 Number of rules: 45
~~~~~~~~~Supp:  19  Conf: 60 Number of rules: 38
~~~~~~~~~Supp:  20  Conf: 60 Number of rules: 37
~~~~~~~~~Supp:  21  Conf: 60 Number of rules: 33
~~~~~~~~~Supp:  22  Conf: 60 Number of rules: 27
~~~~~~~~~Supp:  23  Conf: 60 Number of rules: 24
~~~~~~~~~Supp:  24  Conf: 60 Number of rules: 24
~~~~~~~~~Supp:  25  Conf: 60 Number of rules: 20
~~~~~~~~~Supp:  26  Conf: 60 Number of rules: 19
~~~~~~~~~Supp:  27  Conf: 60 Number of rules: 19
~~~~~~~~~Supp:  28  Conf: 60 Number of rules: 17
~~~~~~~~~Supp:  29  Conf: 60 Number of rules: 15
~~~~~~~~~Supp:  30  Conf: 60 Number of rules: 12
~~~~~~~~~Supp:  31  Conf: 60 Number of rules: 10
~~~~~~~~~Supp:  32  Conf: 60 Number of rules: 10
~~~~~~~~~Supp:  33  Conf: 60 Number of rules: 9
~~~~~~~~~Supp:  34  Conf: 60 Number of rules: 9
~~~~~~~~~Supp:  35  Conf: 60 Number of rules: 8
~~~~~~~~~Supp:  36  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  37  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  38  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  39  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  40  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  41  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  42  Conf: 60 Number of rules: 3
~~~~~~~~~Supp:  43  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  44  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  45  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  46  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  47  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  48  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  49  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  50  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  51  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  52  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  53  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  54  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  55  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  56  Conf: 60 Number of rules: 1

# Maximal frequent patterns

In [64]:
for s in range(1, 100):
    #for c in range(1, 100):
    rules = apriori(baskets, supp=s, zmin=2, target='m', conf=60, report='scl')
    numRules= len(rules)
    if (numRules == 0):
        break
    print('~~~~~~~~~Supp: ', s, ' Conf: 60 Number of rules:', len(rules))
    for r in rules:
        if r[0] == 'yes':
            print(r)

~~~~~~~~~Supp:  1  Conf: 60 Number of rules: 5798
~~~~~~~~~Supp:  2  Conf: 60 Number of rules: 2152
~~~~~~~~~Supp:  3  Conf: 60 Number of rules: 1129
~~~~~~~~~Supp:  4  Conf: 60 Number of rules: 628
~~~~~~~~~Supp:  5  Conf: 60 Number of rules: 419
~~~~~~~~~Supp:  6  Conf: 60 Number of rules: 284
~~~~~~~~~Supp:  7  Conf: 60 Number of rules: 220
~~~~~~~~~Supp:  8  Conf: 60 Number of rules: 155
~~~~~~~~~Supp:  9  Conf: 60 Number of rules: 123
~~~~~~~~~Supp:  10  Conf: 60 Number of rules: 99
~~~~~~~~~Supp:  11  Conf: 60 Number of rules: 85
~~~~~~~~~Supp:  12  Conf: 60 Number of rules: 65
~~~~~~~~~Supp:  13  Conf: 60 Number of rules: 48
~~~~~~~~~Supp:  14  Conf: 60 Number of rules: 42
~~~~~~~~~Supp:  15  Conf: 60 Number of rules: 33
~~~~~~~~~Supp:  16  Conf: 60 Number of rules: 26
~~~~~~~~~Supp:  17  Conf: 60 Number of rules: 24
~~~~~~~~~Supp:  18  Conf: 60 Number of rules: 26
~~~~~~~~~Supp:  19  Conf: 60 Number of rules: 22
~~~~~~~~~Supp:  20  Conf: 60 Number of rules: 23
~~~~~~~~~Supp:  21  Conf: 60 Number of rules: 19
~~~~~~~~~Supp:  22  Conf: 60 Number of rules: 15
~~~~~~~~~Supp:  23  Conf: 60 Number of rules: 13
~~~~~~~~~Supp:  24  Conf: 60 Number of rules: 13
~~~~~~~~~Supp:  25  Conf: 60 Number of rules: 11
~~~~~~~~~Supp:  26  Conf: 60 Number of rules: 12
~~~~~~~~~Supp:  27  Conf: 60 Number of rules: 12
~~~~~~~~~Supp:  28  Conf: 60 Number of rules: 12
~~~~~~~~~Supp:  29  Conf: 60 Number of rules: 10
~~~~~~~~~Supp:  30  Conf: 60 Number of rules: 7
~~~~~~~~~Supp:  31  Conf: 60 Number of rules: 7
~~~~~~~~~Supp:  32  Conf: 60 Number of rules: 7
~~~~~~~~~Supp:  33  Conf: 60 Number of rules: 6
~~~~~~~~~Supp:  34  Conf: 60 Number of rules: 6
~~~~~~~~~Supp:  35  Conf: 60 Number of rules: 8
~~~~~~~~~Supp:  36  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  37  Conf: 60 Number of rules: 5
~~~~~~~~~Supp:  38  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  39  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  40  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  41  Conf: 60 Number of rules: 4
~~~~~~~~~Supp:  42  Conf: 60 Number of rules: 3
~~~~~~~~~Supp:  43  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  44  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  45  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  46  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  47  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  48  Conf: 60 Number of rules: 2
~~~~~~~~~Supp:  49  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  50  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  51  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  52  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  53  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  54  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  55  Conf: 60 Number of rules: 1
~~~~~~~~~Supp:  56  Conf: 60 Number of rules: 1

# Association rules

In [68]:
for s in range(1, 100):
    for c in range(1, 100, 10):
        numYes=0
        rules = apriori(baskets, supp=s, zmin=2, target='r', conf=c, report='scl')
        numRules= len(rules)
        if (numRules == 0):
            break
        print('~~~~~~~~~Supp: ', s, ' Conf: ', c, ' Number of rules:', len(rules))
        for r in rules:
            if r[0] == 'yes':
                #print(r)
                numYes = numYes + 1
        set(rules[0][1])

~~~~~~~~~Supp:  1  Conf:  1  Number of rules: 10085237
~~~~~~~~~Supp:  1  Conf:  11  Number of rules: 3930765
~~~~~~~~~Supp:  1  Conf:  21  Number of rules: 3057690
~~~~~~~~~Supp:  1  Conf:  31  Number of rules: 2553315
~~~~~~~~~Supp:  1  Conf:  41  Number of rules: 2133937
~~~~~~~~~Supp:  1  Conf:  51  Number of rules: 1792306
~~~~~~~~~Supp:  1  Conf:  61  Number of rules: 1566956
~~~~~~~~~Supp:  1  Conf:  71  Number of rules: 1234812
~~~~~~~~~Supp:  1  Conf:  81  Number of rules: 1046688
~~~~~~~~~Supp:  1  Conf:  91  Number of rules: 775200
~~~~~~~~~Supp:  2  Conf:  1  Number of rules: 2248311
~~~~~~~~~Supp:  2  Conf:  11  Number of rules: 908082
~~~~~~~~~Supp:  2  Conf:  21  Number of rules: 710800
~~~~~~~~~Supp:  2  Conf:  31  Number of rules: 584944
~~~~~~~~~Supp:  2  Conf:  41  Number of rules: 482502
~~~~~~~~~Supp:  2  Conf:  51  Number of rules: 385201
~~~~~~~~~Supp:  2  Conf:  61  Number of rules: 336170
~~~~~~~~~Supp:  2  Conf:  71  Number of rules: 254877
~~~~~~~~~Supp:  2  Conf:  81  Number of rules: 206458
~~~~~~~~~Supp:  2  Conf:  91  Number of rules: 146217
~~~~~~~~~Supp:  3  Conf:  1  Number of rules: 774017
~~~~~~~~~Supp:  3  Conf:  11  Number of rules: 306478
~~~~~~~~~Supp:  3  Conf:  21  Number of rules: 241193
~~~~~~~~~Supp:  3  Conf:  31  Number of rules: 195110
~~~~~~~~~Supp:  3  Conf:  41  Number of rules: 161207
~~~~~~~~~Supp:  3  Conf:  51  Number of rules: 124381
~~~~~~~~~Supp:  3  Conf:  61  Number of rules: 106131
~~~~~~~~~Supp:  3  Conf:  71  Number of rules: 79319
~~~~~~~~~Supp:  3  Conf:  81  Number of rules: 60981
~~~~~~~~~Supp:  3  Conf:  91  Number of rules: 41453
~~~~~~~~~Supp:  4  Conf:  1  Number of rules: 372909
~~~~~~~~~Supp:  4  Conf:  11  Number of rules: 142395
~~~~~~~~~Supp:  4  Conf:  21  Number of rules: 112321
~~~~~~~~~Supp:  4  Conf:  31  Number of rules: 89447
~~~~~~~~~Supp:  4  Conf:  41  Number of rules: 73766
~~~~~~~~~Supp:  4  Conf:  51  Number of rules: 56137
~~~~~~~~~Supp:  4  Conf:  61  Number of rules: 47276
~~~~~~~~~Supp:  4  Conf:  71  Number of rules: 34118
~~~~~~~~~Supp:  4  Conf:  81  Number of rules: 25433
~~~~~~~~~Supp:  4  Conf:  91  Number of rules: 18350
~~~~~~~~~Supp:  5  Conf:  1  Number of rules: 163886
~~~~~~~~~Supp:  5  Conf:  11  Number of rules: 58050
~~~~~~~~~Supp:  5  Conf:  21  Number of rules: 45651
~~~~~~~~~Supp:  5  Conf:  31  Number of rules: 35510
~~~~~~~~~Supp:  5  Conf:  41  Number of rules: 28499
~~~~~~~~~Supp:  5  Conf:  51  Number of rules: 21809
~~~~~~~~~Supp:  5  Conf:  61  Number of rules: 17122
~~~~~~~~~Supp:  5  Conf:  71  Number of rules: 12904
~~~~~~~~~Supp:  5  Conf:  81  Number of rules: 7640
~~~~~~~~~Supp:  5  Conf:  91  Number of rules: 4532
~~~~~~~~~Supp:  6  Conf:  1  Number of rules: 88822
~~~~~~~~~Supp:  6  Conf:  11  Number of rules: 29015
~~~~~~~~~Supp:  6  Conf:  21  Number of rules: 22404
~~~~~~~~~Supp:  6  Conf:  31  Number of rules: 16978
~~~~~~~~~Supp:  6  Conf:  41  Number of rules: 13405
~~~~~~~~~Supp:  6  Conf:  51  Number of rules: 9970
~~~~~~~~~Supp:  6  Conf:  61  Number of rules: 7624
~~~~~~~~~Supp:  6  Conf:  71  Number of rules: 5433
~~~~~~~~~Supp:  6  Conf:  81  Number of rules: 3000
~~~~~~~~~Supp:  6  Conf:  91  Number of rules: 1558
~~~~~~~~~Supp:  7  Conf:  1  Number of rules: 52059
~~~~~~~~~Supp:  7  Conf:  11  Number of rules: 15417
~~~~~~~~~Supp:  7  Conf:  21  Number of rules: 11355
~~~~~~~~~Supp:  7  Conf:  31  Number of rules: 8290
~~~~~~~~~Supp:  7  Conf:  41  Number of rules: 6412
~~~~~~~~~Supp:  7  Conf:  51  Number of rules: 4558
~~~~~~~~~Supp:  7  Conf:  61  Number of rules: 3235
~~~~~~~~~Supp:  7  Conf:  71  Number of rules: 2126
~~~~~~~~~Supp:  7  Conf:  81  Number of rules: 962
~~~~~~~~~Supp:  7  Conf:  91  Number of rules: 400
~~~~~~~~~Supp:  8  Conf:  1  Number of rules: 36354
~~~~~~~~~Supp:  8  Conf:  11  Number of rules: 9982
~~~~~~~~~Supp:  8  Conf:  21  Number of rules: 7081
~~~~~~~~~Supp:  8  Conf:  31  Number of rules: 5024
~~~~~~~~~Supp:  8  Conf:  41  Number of rules: 3758
~~~~~~~~~Supp:  8  Conf:  51  Number of rules: 2607
~~~~~~~~~Supp:  8  Conf:  61  Number of rules: 1684
~~~~~~~~~Supp:  8  Conf:  71  Number of rules: 1037
~~~~~~~~~Supp:  8  Conf:  81  Number of rules: 391
~~~~~~~~~Supp:  8  Conf:  91  Number of rules: 139
~~~~~~~~~Supp:  9  Conf:  1  Number of rules: 26494
~~~~~~~~~Supp:  9  Conf:  11  Number of rules: 6963
~~~~~~~~~Supp:  9  Conf:  21  Number of rules: 4778
~~~~~~~~~Supp:  9  Conf:  31  Number of rules: 3319
~~~~~~~~~Supp:  9  Conf:  41  Number of rules: 2451
~~~~~~~~~Supp:  9  Conf:  51  Number of rules: 1659
~~~~~~~~~Supp:  9  Conf:  61  Number of rules: 1023
~~~~~~~~~Supp:  9  Conf:  71  Number of rules: 607
~~~~~~~~~Supp:  9  Conf:  81  Number of rules: 194
~~~~~~~~~Supp:  9  Conf:  91  Number of rules: 57
~~~~~~~~~Supp:  10  Conf:  1  Number of rules: 20978
~~~~~~~~~Supp:  10  Conf:  11  Number of rules: 5145
~~~~~~~~~Supp:  10  Conf:  21  Number of rules: 3354
~~~~~~~~~Supp:  10  Conf:  31  Number of rules: 2208
~~~~~~~~~Supp:  10  Conf:  41  Number of rules: 1616
~~~~~~~~~Supp:  10  Conf:  51  Number of rules: 1048
~~~~~~~~~Supp:  10  Conf:  61  Number of rules: 615
~~~~~~~~~Supp:  10  Conf:  71  Number of rules: 345
~~~~~~~~~Supp:  10  Conf:  81  Number of rules: 94
~~~~~~~~~Supp:  10  Conf:  91  Number of rules: 14
~~~~~~~~~Supp:  11  Conf:  1  Number of rules: 16978
~~~~~~~~~Supp:  11  Conf:  11  Number of rules: 4006
~~~~~~~~~Supp:  11  Conf:  21  Number of rules: 2529
~~~~~~~~~Supp:  11  Conf:  31  Number of rules: 1612
~~~~~~~~~Supp:  11  Conf:  41  Number of rules: 1173
~~~~~~~~~Supp:  11  Conf:  51  Number of rules: 741
~~~~~~~~~Supp:  11  Conf:  61  Number of rules: 421
~~~~~~~~~Supp:  11  Conf:  71  Number of rules: 231
~~~~~~~~~Supp:  11  Conf:  81  Number of rules: 60
~~~~~~~~~Supp:  11  Conf:  91  Number of rules: 7
~~~~~~~~~Supp:  12  Conf:  1  Number of rules: 13809
~~~~~~~~~Supp:  12  Conf:  11  Number of rules: 3156
~~~~~~~~~Supp:  12  Conf:  21  Number of rules: 1942
~~~~~~~~~Supp:  12  Conf:  31  Number of rules: 1200
~~~~~~~~~Supp:  12  Conf:  41  Number of rules: 865
~~~~~~~~~Supp:  12  Conf:  51  Number of rules: 538
~~~~~~~~~Supp:  12  Conf:  61  Number of rules: 298
~~~~~~~~~Supp:  12  Conf:  71  Number of rules: 163
~~~~~~~~~Supp:  12  Conf:  81  Number of rules: 39
~~~~~~~~~Supp:  12  Conf:  91  Number of rules: 1
~~~~~~~~~Supp:  13  Conf:  1  Number of rules: 11441
~~~~~~~~~Supp:  13  Conf:  11  Number of rules: 2551
~~~~~~~~~Supp:  13  Conf:  21  Number of rules: 1532
~~~~~~~~~Supp:  13  Conf:  31  Number of rules: 925
~~~~~~~~~Supp:  13  Conf:  41  Number of rules: 661
~~~~~~~~~Supp:  13  Conf:  51  Number of rules: 401
~~~~~~~~~Supp:  13  Conf:  61  Number of rules: 218
~~~~~~~~~Supp:  13  Conf:  71  Number of rules: 121
~~~~~~~~~Supp:  13  Conf:  81  Number of rules: 28
~~~~~~~~~Supp:  13  Conf:  91  Number of rules: 1
~~~~~~~~~Supp:  14  Conf:  1  Number of rules: 9911
~~~~~~~~~Supp:  14  Conf:  11  Number of rules: 2169
~~~~~~~~~Supp:  14  Conf:  21  Number of rules: 1271
~~~~~~~~~Supp:  14  Conf:  31  Number of rules: 750
~~~~~~~~~Supp:  14  Conf:  41  Number of rules: 534
~~~~~~~~~Supp:  14  Conf:  51  Number of rules: 324
~~~~~~~~~Supp:  14  Conf:  61  Number of rules: 176
~~~~~~~~~Supp:  14  Conf:  71  Number of rules: 99
~~~~~~~~~Supp:  14  Conf:  81  Number of rules: 24
~~~~~~~~~Supp:  15  Conf:  1  Number of rules: 9108
~~~~~~~~~Supp:  15  Conf:  11  Number of rules: 1962
~~~~~~~~~Supp:  15  Conf:  21  Number of rules: 1122
~~~~~~~~~Supp:  15  Conf:  31  Number of rules: 656
~~~~~~~~~Supp:  15  Conf:  41  Number of rules: 455
~~~~~~~~~Supp:  15  Conf:  51  Number of rules: 286
~~~~~~~~~Supp:  15  Conf:  61  Number of rules: 158
~~~~~~~~~Supp:  15  Conf:  71  Number of rules: 89
~~~~~~~~~Supp:  15  Conf:  81  Number of rules: 21
~~~~~~~~~Supp:  16  Conf:  1  Number of rules: 7975
~~~~~~~~~Supp:  16  Conf:  11  Number of rules: 1715
~~~~~~~~~Supp:  16  Conf:  21  Number of rules: 974
~~~~~~~~~Supp:  16  Conf:  31  Number of rules: 574
~~~~~~~~~Supp:  16  Conf:  41  Number of rules: 397
~~~~~~~~~Supp:  16  Conf:  51  Number of rules: 247
~~~~~~~~~Supp:  16  Conf:  61  Number of rules: 131
~~~~~~~~~Supp:  16  Conf:  71  Number of rules: 78
~~~~~~~~~Supp:  16  Conf:  81  Number of rules: 16
~~~~~~~~~Supp:  17  Conf:  1  Number of rules: 7490
~~~~~~~~~Supp:  17  Conf:  11  Number of rules: 1614
~~~~~~~~~Supp:  17  Conf:  21  Number of rules: 919
~~~~~~~~~Supp:  17  Conf:  31  Number of rules: 545
~~~~~~~~~Supp:  17  Conf:  41  Number of rules: 377
~~~~~~~~~Supp:  17  Conf:  51  Number of rules: 231
~~~~~~~~~Supp:  17  Conf:  61  Number of rules: 121
~~~~~~~~~Supp:  17  Conf:  71  Number of rules: 71
~~~~~~~~~Supp:  17  Conf:  81  Number of rules: 15
~~~~~~~~~Supp:  18  Conf:  1  Number of rules: 6219
~~~~~~~~~Supp:  18  Conf:  11  Number of rules: 1379
~~~~~~~~~Supp:  18  Conf:  21  Number of rules: 794

~~~~~~~~~Supp:  18  Conf:  31  Number of rules: 465
~~~~~~~~~Supp:  18  Conf:  41  Number of rules: 326
~~~~~~~~~Supp:  18  Conf:  51  Number of rules: 200
~~~~~~~~~Supp:  18  Conf:  61  Number of rules: 105
~~~~~~~~~Supp:  18  Conf:  71  Number of rules: 60
~~~~~~~~~Supp:  18  Conf:  81  Number of rules: 14
~~~~~~~~~Supp:  19  Conf:  1  Number of rules: 5511
~~~~~~~~~Supp:  19  Conf:  11  Number of rules: 1202
~~~~~~~~~Supp:  19  Conf:  21  Number of rules: 684
~~~~~~~~~Supp:  19  Conf:  31  Number of rules: 388
~~~~~~~~~Supp:  19  Conf:  41  Number of rules: 276
~~~~~~~~~Supp:  19  Conf:  51  Number of rules: 169
~~~~~~~~~Supp:  19  Conf:  61  Number of rules: 92
~~~~~~~~~Supp:  19  Conf:  71  Number of rules: 54
~~~~~~~~~Supp:  19  Conf:  81  Number of rules: 11
~~~~~~~~~Supp:  20  Conf:  1  Number of rules: 5418
~~~~~~~~~Supp:  20  Conf:  11  Number of rules: 1183
~~~~~~~~~Supp:  20  Conf:  21  Number of rules: 675
~~~~~~~~~Supp:  20  Conf:  31  Number of rules: 383
~~~~~~~~~Supp:  20  Conf:  41  Number of rules: 272
~~~~~~~~~Supp:  20  Conf:  51  Number of rules: 167
~~~~~~~~~Supp:  20  Conf:  61  Number of rules: 90
~~~~~~~~~Supp:  20  Conf:  71  Number of rules: 54
~~~~~~~~~Supp:  20  Conf:  81  Number of rules: 11
~~~~~~~~~Supp:  21  Conf:  1  Number of rules: 4942
~~~~~~~~~Supp:  21  Conf:  11  Number of rules: 1079
~~~~~~~~~Supp:  21  Conf:  21  Number of rules: 603
~~~~~~~~~Supp:  21  Conf:  31  Number of rules: 336
~~~~~~~~~Supp:  21  Conf:  41  Number of rules: 239
~~~~~~~~~Supp:  21  Conf:  51  Number of rules: 146
~~~~~~~~~Supp:  21  Conf:  61  Number of rules: 83
~~~~~~~~~Supp:  21  Conf:  71  Number of rules: 50
~~~~~~~~~Supp:  21  Conf:  81  Number of rules: 9
~~~~~~~~~Supp:  22  Conf:  1  Number of rules: 4256
~~~~~~~~~Supp:  22  Conf:  11  Number of rules: 936
~~~~~~~~~Supp:  22  Conf:  21  Number of rules: 519
~~~~~~~~~Supp:  22  Conf:  31  Number of rules: 289
~~~~~~~~~Supp:  22  Conf:  41  Number of rules: 206
~~~~~~~~~Supp:  22  Conf:  51  Number of rules: 124
~~~~~~~~~Supp:  22  Conf:  61  Number of rules: 73
~~~~~~~~~Supp:  22  Conf:  71  Number of rules: 43
~~~~~~~~~Supp:  22  Conf:  81  Number of rules: 6
~~~~~~~~~Supp:  23  Conf:  1  Number of rules: 3617
~~~~~~~~~Supp:  23  Conf:  11  Number of rules: 764
~~~~~~~~~Supp:  23  Conf:  21  Number of rules: 411
~~~~~~~~~Supp:  23  Conf:  31  Number of rules: 216
~~~~~~~~~Supp:  23  Conf:  41  Number of rules: 155
~~~~~~~~~Supp:  23  Conf:  51  Number of rules: 95
~~~~~~~~~Supp:  23  Conf:  61  Number of rules: 60
~~~~~~~~~Supp:  23  Conf:  71  Number of rules: 36
~~~~~~~~~Supp:  23  Conf:  81  Number of rules: 5
~~~~~~~~~Supp:  24  Conf:  1  Number of rules: 3617
~~~~~~~~~Supp:  24  Conf:  11  Number of rules: 764
~~~~~~~~~Supp:  24  Conf:  21  Number of rules: 411
~~~~~~~~~Supp:  24  Conf:  31  Number of rules: 216
~~~~~~~~~Supp:  24  Conf:  41  Number of rules: 155
~~~~~~~~~Supp:  24  Conf:  51  Number of rules: 95
~~~~~~~~~Supp:  24  Conf:  61  Number of rules: 60
~~~~~~~~~Supp:  24  Conf:  71  Number of rules: 36
~~~~~~~~~Supp:  24  Conf:  81  Number of rules: 5
~~~~~~~~~Supp:  25  Conf:  1  Number of rules: 3147
~~~~~~~~~Supp:  25  Conf:  11  Number of rules: 650
~~~~~~~~~Supp:  25  Conf:  21  Number of rules: 349
~~~~~~~~~Supp:  25  Conf:  31  Number of rules: 180
~~~~~~~~~Supp:  25  Conf:  41  Number of rules: 129
~~~~~~~~~Supp:  25  Conf:  51  Number of rules: 80
~~~~~~~~~Supp:  25  Conf:  61  Number of rules: 51
~~~~~~~~~Supp:  25  Conf:  71  Number of rules: 29
~~~~~~~~~Supp:  25  Conf:  81  Number of rules: 4
~~~~~~~~~Supp:  26  Conf:  1  Number of rules: 3041
~~~~~~~~~Supp:  26  Conf:  11  Number of rules: 635
~~~~~~~~~Supp:  26  Conf:  21  Number of rules: 342
~~~~~~~~~Supp:  26  Conf:  31  Number of rules: 177
~~~~~~~~~Supp:  26  Conf:  41  Number of rules: 127
~~~~~~~~~Supp:  26  Conf:  51  Number of rules: 78
~~~~~~~~~Supp:  26  Conf:  61  Number of rules: 50
~~~~~~~~~Supp:  26  Conf:  71  Number of rules: 29
~~~~~~~~~Supp:  26  Conf:  81  Number of rules: 4
~~~~~~~~~Supp:  27  Conf:  1  Number of rules: 2945
~~~~~~~~~Supp:  27  Conf:  11  Number of rules: 613
~~~~~~~~~Supp:  27  Conf:  21  Number of rules: 328
~~~~~~~~~Supp:  27  Conf:  31  Number of rules: 169
~~~~~~~~~Supp:  27  Conf:  41  Number of rules: 121
~~~~~~~~~Supp:  27  Conf:  51  Number of rules: 74
~~~~~~~~~Supp:  27  Conf:  61  Number of rules: 46
~~~~~~~~~Supp:  27  Conf:  71  Number of rules: 27
~~~~~~~~~Supp:  27  Conf:  81  Number of rules: 4
~~~~~~~~~Supp:  28  Conf:  1  Number of rules: 2631
~~~~~~~~~Supp:  28  Conf:  11  Number of rules: 554
~~~~~~~~~Supp:  28  Conf:  21  Number of rules: 293
~~~~~~~~~Supp:  28  Conf:  31  Number of rules: 153
~~~~~~~~~Supp:  28  Conf:  41  Number of rules: 107
~~~~~~~~~Supp:  28  Conf:  51  Number of rules: 66
~~~~~~~~~Supp:  28  Conf:  61  Number of rules: 43
~~~~~~~~~Supp:  28  Conf:  71  Number of rules: 25
~~~~~~~~~Supp:  28  Conf:  81  Number of rules: 4
~~~~~~~~~Supp:  29  Conf:  1  Number of rules: 2444
~~~~~~~~~Supp:  29  Conf:  11  Number of rules: 505
~~~~~~~~~Supp:  29  Conf:  21  Number of rules: 268
~~~~~~~~~Supp:  29  Conf:  31  Number of rules: 140
~~~~~~~~~Supp:  29  Conf:  41  Number of rules: 98
~~~~~~~~~Supp:  29  Conf:  51  Number of rules: 60
~~~~~~~~~Supp:  29  Conf:  61  Number of rules: 39
~~~~~~~~~Supp:  29  Conf:  71  Number of rules: 24
~~~~~~~~~Supp:  29  Conf:  81  Number of rules: 4
~~~~~~~~~Supp:  30  Conf:  1  Number of rules: 2143
~~~~~~~~~Supp:  30  Conf:  11  Number of rules: 440
~~~~~~~~~Supp:  30  Conf:  21  Number of rules: 236
~~~~~~~~~Supp:  30  Conf:  31  Number of rules: 124
~~~~~~~~~Supp:  30  Conf:  41  Number of rules: 89
~~~~~~~~~Supp:  30  Conf:  51  Number of rules: 52
~~~~~~~~~Supp:  30  Conf:  61  Number of rules: 34
~~~~~~~~~Supp:  30  Conf:  71  Number of rules: 20
~~~~~~~~~Supp:  30  Conf:  81  Number of rules: 3
~~~~~~~~~Supp:  31  Conf:  1  Number of rules: 1939
~~~~~~~~~Supp:  31  Conf:  11  Number of rules: 402
~~~~~~~~~Supp:  31  Conf:  21  Number of rules: 217
~~~~~~~~~Supp:  31  Conf:  31  Number of rules: 115
~~~~~~~~~Supp:  31  Conf:  41  Number of rules: 82
~~~~~~~~~Supp:  31  Conf:  51  Number of rules: 48
~~~~~~~~~Supp:  31  Conf:  61  Number of rules: 32
~~~~~~~~~Supp:  31  Conf:  71  Number of rules: 19
~~~~~~~~~Supp:  31  Conf:  81  Number of rules: 3
~~~~~~~~~Supp:  32  Conf:  1  Number of rules: 1939
~~~~~~~~~Supp:  32  Conf:  11  Number of rules: 402
~~~~~~~~~Supp:  32  Conf:  21  Number of rules: 217
~~~~~~~~~Supp:  32  Conf:  31  Number of rules: 115
~~~~~~~~~Supp:  32  Conf:  41  Number of rules: 82
~~~~~~~~~Supp:  32  Conf:  51  Number of rules: 48
~~~~~~~~~Supp:  32  Conf:  61  Number of rules: 32
~~~~~~~~~Supp:  32  Conf:  71  Number of rules: 19
~~~~~~~~~Supp:  32  Conf:  81  Number of rules: 3
~~~~~~~~~Supp:  33  Conf:  1  Number of rules: 1832
~~~~~~~~~Supp:  33  Conf:  11  Number of rules: 384
~~~~~~~~~Supp:  33  Conf:  21  Number of rules: 207
~~~~~~~~~Supp:  33  Conf:  31  Number of rules: 111
~~~~~~~~~Supp:  33  Conf:  41  Number of rules: 79
~~~~~~~~~Supp:  33  Conf:  51  Number of rules: 45
~~~~~~~~~Supp:  33  Conf:  61  Number of rules: 30
~~~~~~~~~Supp:  33  Conf:  71  Number of rules: 18
~~~~~~~~~Supp:  33  Conf:  81  Number of rules: 3
~~~~~~~~~Supp:  34  Conf:  1  Number of rules: 1832
~~~~~~~~~Supp:  34  Conf:  11  Number of rules: 384
~~~~~~~~~Supp:  34  Conf:  21  Number of rules: 207
~~~~~~~~~Supp:  34  Conf:  31  Number of rules: 111
~~~~~~~~~Supp:  34  Conf:  41  Number of rules: 79
~~~~~~~~~Supp:  34  Conf:  51  Number of rules: 45
~~~~~~~~~Supp:  34  Conf:  61  Number of rules: 30
~~~~~~~~~Supp:  34  Conf:  71  Number of rules: 18
~~~~~~~~~Supp:  34  Conf:  81  Number of rules: 3
~~~~~~~~~Supp:  35  Conf:  1  Number of rules: 1532
~~~~~~~~~Supp:  35  Conf:  11  Number of rules: 315
~~~~~~~~~Supp:  35  Conf:  21  Number of rules: 169
~~~~~~~~~Supp:  35  Conf:  31  Number of rules: 93
~~~~~~~~~Supp:  35  Conf:  41  Number of rules: 65
~~~~~~~~~Supp:  35  Conf:  51  Number of rules: 37
~~~~~~~~~Supp:  35  Conf:  61  Number of rules: 25
~~~~~~~~~Supp:  35  Conf:  71  Number of rules: 16
~~~~~~~~~Supp:  35  Conf:  81  Number of rules: 2
~~~~~~~~~Supp:  36  Conf:  1  Number of rules: 1231
~~~~~~~~~Supp:  36  Conf:  11  Number of rules: 257

~~~~~~~~~Supp:  36  Conf:  21  Number of rules: 140
~~~~~~~~~Supp:  36  Conf:  31  Number of rules: 77
~~~~~~~~~Supp:  36  Conf:  41  Number of rules: 54
~~~~~~~~~Supp:  36  Conf:  51  Number of rules: 30
~~~~~~~~~Supp:  36  Conf:  61  Number of rules: 20
~~~~~~~~~Supp:  36  Conf:  71  Number of rules: 14
~~~~~~~~~Supp:  36  Conf:  81  Number of rules: 2
~~~~~~~~~Supp:  37  Conf:  1  Number of rules: 1231
~~~~~~~~~Supp:  37  Conf:  11  Number of rules: 257
~~~~~~~~~Supp:  37  Conf:  21  Number of rules: 140
~~~~~~~~~Supp:  37  Conf:  31  Number of rules: 77
~~~~~~~~~Supp:  37  Conf:  41  Number of rules: 54
~~~~~~~~~Supp:  37  Conf:  51  Number of rules: 30
~~~~~~~~~Supp:  37  Conf:  61  Number of rules: 20
~~~~~~~~~Supp:  37  Conf:  71  Number of rules: 14
~~~~~~~~~Supp:  37  Conf:  81  Number of rules: 2
~~~~~~~~~Supp:  38  Conf:  1  Number of rules: 1127
~~~~~~~~~Supp:  38  Conf:  11  Number of rules: 240
~~~~~~~~~Supp:  38  Conf:  21  Number of rules: 131
~~~~~~~~~Supp:  38  Conf:  31  Number of rules: 71
~~~~~~~~~Supp:  38  Conf:  41  Number of rules: 50
~~~~~~~~~Supp:  38  Conf:  51  Number of rules: 28
~~~~~~~~~Supp:  38  Conf:  61  Number of rules: 19
~~~~~~~~~Supp:  38  Conf:  71  Number of rules: 13
~~~~~~~~~Supp:  38  Conf:  81  Number of rules: 1
~~~~~~~~~Supp:  39  Conf:  1  Number of rules: 1019
~~~~~~~~~Supp:  39  Conf:  11  Number of rules: 214
~~~~~~~~~Supp:  39  Conf:  21  Number of rules: 117
~~~~~~~~~Supp:  39  Conf:  31  Number of rules: 64
~~~~~~~~~Supp:  39  Conf:  41  Number of rules: 46
~~~~~~~~~Supp:  39  Conf:  51  Number of rules: 25
~~~~~~~~~Supp:  39  Conf:  61  Number of rules: 17
~~~~~~~~~Supp:  39  Conf:  71  Number of rules: 11
~~~~~~~~~Supp:  39  Conf:  81  Number of rules: 1
~~~~~~~~~Supp:  40  Conf:  1  Number of rules: 1019
~~~~~~~~~Supp:  40  Conf:  11  Number of rules: 214
~~~~~~~~~Supp:  40  Conf:  21  Number of rules: 117
~~~~~~~~~Supp:  40  Conf:  31  Number of rules: 64
~~~~~~~~~Supp:  40  Conf:  41  Number of rules: 46
~~~~~~~~~Supp:  40  Conf:  51  Number of rules: 25
~~~~~~~~~Supp:  40  Conf:  61  Number of rules: 17
~~~~~~~~~Supp:  40  Conf:  71  Number of rules: 11
~~~~~~~~~Supp:  40  Conf:  81  Number of rules: 1
~~~~~~~~~Supp:  41  Conf:  1  Number of rules: 1019
~~~~~~~~~Supp:  41  Conf:  11  Number of rules: 214
~~~~~~~~~Supp:  41  Conf:  21  Number of rules: 117
~~~~~~~~~Supp:  41  Conf:  31  Number of rules: 64
~~~~~~~~~Supp:  41  Conf:  41  Number of rules: 46
~~~~~~~~~Supp:  41  Conf:  51  Number of rules: 25
~~~~~~~~~Supp:  41  Conf:  61  Number of rules: 17
~~~~~~~~~Supp:  41  Conf:  71  Number of rules: 11
~~~~~~~~~Supp:  41  Conf:  81  Number of rules: 1
~~~~~~~~~Supp:  42  Conf:  1  Number of rules: 918
~~~~~~~~~Supp:  42  Conf:  11  Number of rules: 194
~~~~~~~~~Supp:  42  Conf:  21  Number of rules: 107
~~~~~~~~~Supp:  42  Conf:  31  Number of rules: 57
~~~~~~~~~Supp:  42  Conf:  41  Number of rules: 42
~~~~~~~~~Supp:  42  Conf:  51  Number of rules: 23
~~~~~~~~~Supp:  42  Conf:  61  Number of rules: 16
~~~~~~~~~Supp:  42  Conf:  71  Number of rules: 10
~~~~~~~~~Supp:  42  Conf:  81  Number of rules: 1
~~~~~~~~~Supp:  43  Conf:  1  Number of rules: 810
~~~~~~~~~Supp:  43  Conf:  11  Number of rules: 177
~~~~~~~~~Supp:  43  Conf:  21  Number of rules: 98
~~~~~~~~~Supp:  43  Conf:  31  Number of rules: 53
~~~~~~~~~Supp:  43  Conf:  41  Number of rules: 38
~~~~~~~~~Supp:  43  Conf:  51  Number of rules: 22
~~~~~~~~~Supp:  43  Conf:  61  Number of rules: 15
~~~~~~~~~Supp:  43  Conf:  71  Number of rules: 9
~~~~~~~~~Supp:  44  Conf:  1  Number of rules: 810
~~~~~~~~~Supp:  44  Conf:  11  Number of rules: 177
~~~~~~~~~Supp:  44  Conf:  21  Number of rules: 98
~~~~~~~~~Supp:  44  Conf:  31  Number of rules: 53
~~~~~~~~~Supp:  44  Conf:  41  Number of rules: 38
~~~~~~~~~Supp:  44  Conf:  51  Number of rules: 22
~~~~~~~~~Supp:  44  Conf:  61  Number of rules: 15
~~~~~~~~~Supp:  44  Conf:  71  Number of rules: 9
~~~~~~~~~Supp:  45  Conf:  1  Number of rules: 810
~~~~~~~~~Supp:  45  Conf:  11  Number of rules: 177
~~~~~~~~~Supp:  45  Conf:  21  Number of rules: 98
~~~~~~~~~Supp:  45  Conf:  31  Number of rules: 53
~~~~~~~~~Supp:  45  Conf:  41  Number of rules: 38
~~~~~~~~~Supp:  45  Conf:  51  Number of rules: 22
~~~~~~~~~Supp:  45  Conf:  61  Number of rules: 15
~~~~~~~~~Supp:  45  Conf:  71  Number of rules: 9
~~~~~~~~~Supp:  46  Conf:  1  Number of rules: 810
~~~~~~~~~Supp:  46  Conf:  11  Number of rules: 177
~~~~~~~~~Supp:  46  Conf:  21  Number of rules: 98
~~~~~~~~~Supp:  46  Conf:  31  Number of rules: 53
~~~~~~~~~Supp:  46  Conf:  41  Number of rules: 38
~~~~~~~~~Supp:  46  Conf:  51  Number of rules: 22
~~~~~~~~~Supp:  46  Conf:  61  Number of rules: 15
~~~~~~~~~Supp:  46  Conf:  71  Number of rules: 9
~~~~~~~~~Supp:  47  Conf:  1  Number of rules: 614
~~~~~~~~~Supp:  47  Conf:  11  Number of rules: 130
~~~~~~~~~Supp:  47  Conf:  21  Number of rules: 69
~~~~~~~~~Supp:  47  Conf:  31  Number of rules: 41
~~~~~~~~~Supp:  47  Conf:  41  Number of rules: 29
~~~~~~~~~Supp:  47  Conf:  51  Number of rules: 14
~~~~~~~~~Supp:  47  Conf:  61  Number of rules: 9
~~~~~~~~~Supp:  47  Conf:  71  Number of rules: 6
~~~~~~~~~Supp:  48  Conf:  1  Number of rules: 614
~~~~~~~~~Supp:  48  Conf:  11  Number of rules: 130
~~~~~~~~~Supp:  48  Conf:  21  Number of rules: 69
~~~~~~~~~Supp:  48  Conf:  31  Number of rules: 41
~~~~~~~~~Supp:  48  Conf:  41  Number of rules: 29
~~~~~~~~~Supp:  48  Conf:  51  Number of rules: 14
~~~~~~~~~Supp:  48  Conf:  61  Number of rules: 9
~~~~~~~~~Supp:  48  Conf:  71  Number of rules: 6
~~~~~~~~~Supp:  49  Conf:  1  Number of rules: 515
~~~~~~~~~Supp:  49  Conf:  11  Number of rules: 108
~~~~~~~~~Supp:  49  Conf:  21  Number of rules: 60
~~~~~~~~~Supp:  49  Conf:  31  Number of rules: 35
~~~~~~~~~Supp:  49  Conf:  41  Number of rules: 25
~~~~~~~~~Supp:  49  Conf:  51  Number of rules: 13
~~~~~~~~~Supp:  49  Conf:  61  Number of rules: 8
~~~~~~~~~Supp:  49  Conf:  71  Number of rules: 5
~~~~~~~~~Supp:  50  Conf:  1  Number of rules: 515
~~~~~~~~~Supp:  50  Conf:  11  Number of rules: 108
~~~~~~~~~Supp:  50  Conf:  21  Number of rules: 60
~~~~~~~~~Supp:  50  Conf:  31  Number of rules: 35
~~~~~~~~~Supp:  50  Conf:  41  Number of rules: 25
~~~~~~~~~Supp:  50  Conf:  51  Number of rules: 13
~~~~~~~~~Supp:  50  Conf:  61  Number of rules: 8
~~~~~~~~~Supp:  50  Conf:  71  Number of rules: 5
~~~~~~~~~Supp:  51  Conf:  1  Number of rules: 515
~~~~~~~~~Supp:  51  Conf:  11  Number of rules: 108
~~~~~~~~~Supp:  51  Conf:  21  Number of rules: 60
~~~~~~~~~Supp:  51  Conf:  31  Number of rules: 35
~~~~~~~~~Supp:  51  Conf:  41  Number of rules: 25
~~~~~~~~~Supp:  51  Conf:  51  Number of rules: 13
~~~~~~~~~Supp:  51  Conf:  61  Number of rules: 8
~~~~~~~~~Supp:  51  Conf:  71  Number of rules: 5
~~~~~~~~~Supp:  52  Conf:  1  Number of rules: 515
~~~~~~~~~Supp:  52  Conf:  11  Number of rules: 108
~~~~~~~~~Supp:  52  Conf:  21  Number of rules: 60
~~~~~~~~~Supp:  52  Conf:  31  Number of rules: 35
~~~~~~~~~Supp:  52  Conf:  41  Number of rules: 25
~~~~~~~~~Supp:  52  Conf:  51  Number of rules: 13
~~~~~~~~~Supp:  52  Conf:  61  Number of rules: 8
~~~~~~~~~Supp:  52  Conf:  71  Number of rules: 5
~~~~~~~~~Supp:  53  Conf:  1  Number of rules: 416
~~~~~~~~~Supp:  53  Conf:  11  Number of rules: 85
~~~~~~~~~Supp:  53  Conf:  21  Number of rules: 46
~~~~~~~~~Supp:  53  Conf:  31  Number of rules: 27
~~~~~~~~~Supp:  53  Conf:  41  Number of rules: 19
~~~~~~~~~Supp:  53  Conf:  51  Number of rules: 10
~~~~~~~~~Supp:  53  Conf:  61  Number of rules: 6
~~~~~~~~~Supp:  53  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  54  Conf:  1  Number of rules: 416
~~~~~~~~~Supp:  54  Conf:  11  Number of rules: 85
~~~~~~~~~Supp:  54  Conf:  21  Number of rules: 46
~~~~~~~~~Supp:  54  Conf:  31  Number of rules: 27
~~~~~~~~~Supp:  54  Conf:  41  Number of rules: 19
~~~~~~~~~Supp:  54  Conf:  51  Number of rules: 10
~~~~~~~~~Supp:  54  Conf:  61  Number of rules: 6
~~~~~~~~~Supp:  54  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  55  Conf:  1  Number of rules: 416
~~~~~~~~~Supp:  55  Conf:  11  Number of rules: 85
~~~~~~~~~Supp:  55  Conf:  21  Number of rules: 46
~~~~~~~~~Supp:  55  Conf:  31  Number of rules: 27
~~~~~~~~~Supp:  55  Conf:  41  Number of rules: 19
~~~~~~~~~Supp:  55  Conf:  51  Number of rules: 10
~~~~~~~~~Supp:  55  Conf:  61  Number of rules: 6
~~~~~~~~~Supp:  55  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  56  Conf:  1  Number of rules: 416
~~~~~~~~~Supp:  56  Conf:  11  Number of rules: 85
~~~~~~~~~Supp:  56  Conf:  21  Number of rules: 46

~~~~~~~~~Supp:  56  Conf:  31  Number of rules: 27
~~~~~~~~~Supp:  56  Conf:  41  Number of rules: 19
~~~~~~~~~Supp:  56  Conf:  51  Number of rules: 10
~~~~~~~~~Supp:  56  Conf:  61  Number of rules: 6
~~~~~~~~~Supp:  56  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  57  Conf:  1  Number of rules: 306
~~~~~~~~~Supp:  57  Conf:  11  Number of rules: 68
~~~~~~~~~Supp:  57  Conf:  21  Number of rules: 37
~~~~~~~~~Supp:  57  Conf:  31  Number of rules: 21
~~~~~~~~~Supp:  57  Conf:  41  Number of rules: 15
~~~~~~~~~Supp:  57  Conf:  51  Number of rules: 8
~~~~~~~~~Supp:  57  Conf:  61  Number of rules: 5
~~~~~~~~~Supp:  57  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  58  Conf:  1  Number of rules: 306
~~~~~~~~~Supp:  58  Conf:  11  Number of rules: 68
~~~~~~~~~Supp:  58  Conf:  21  Number of rules: 37
~~~~~~~~~Supp:  58  Conf:  31  Number of rules: 21
~~~~~~~~~Supp:  58  Conf:  41  Number of rules: 15
~~~~~~~~~Supp:  58  Conf:  51  Number of rules: 8
~~~~~~~~~Supp:  58  Conf:  61  Number of rules: 5
~~~~~~~~~Supp:  58  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  59  Conf:  1  Number of rules: 306
~~~~~~~~~Supp:  59  Conf:  11  Number of rules: 68
~~~~~~~~~Supp:  59  Conf:  21  Number of rules: 37
~~~~~~~~~Supp:  59  Conf:  31  Number of rules: 21
~~~~~~~~~Supp:  59  Conf:  41  Number of rules: 15
~~~~~~~~~Supp:  59  Conf:  51  Number of rules: 8
~~~~~~~~~Supp:  59  Conf:  61  Number of rules: 5
~~~~~~~~~Supp:  59  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  60  Conf:  1  Number of rules: 306
~~~~~~~~~Supp:  60  Conf:  11  Number of rules: 68
~~~~~~~~~Supp:  60  Conf:  21  Number of rules: 37
~~~~~~~~~Supp:  60  Conf:  31  Number of rules: 21
~~~~~~~~~Supp:  60  Conf:  41  Number of rules: 15
~~~~~~~~~Supp:  60  Conf:  51  Number of rules: 8
~~~~~~~~~Supp:  60  Conf:  61  Number of rules: 5
~~~~~~~~~Supp:  60  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  61  Conf:  1  Number of rules: 306
~~~~~~~~~Supp:  61  Conf:  11  Number of rules: 68
~~~~~~~~~Supp:  61  Conf:  21  Number of rules: 37
~~~~~~~~~Supp:  61  Conf:  31  Number of rules: 21
~~~~~~~~~Supp:  61  Conf:  41  Number of rules: 15
~~~~~~~~~Supp:  61  Conf:  51  Number of rules: 8
~~~~~~~~~Supp:  61  Conf:  61  Number of rules: 5
~~~~~~~~~Supp:  61  Conf:  71  Number of rules: 3
~~~~~~~~~Supp:  62  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  62  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  62  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  62  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  62  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  62  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  62  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  62  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  63  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  63  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  63  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  63  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  63  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  63  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  63  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  63  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  64  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  64  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  64  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  64  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  64  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  64  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  64  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  64  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  65  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  65  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  65  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  65  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  65  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  65  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  65  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  65  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  66  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  66  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  66  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  66  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  66  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  66  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  66  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  66  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  67  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  67  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  67  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  67  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  67  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  67  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  67  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  67  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  68  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  68  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  68  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  68  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  68  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  68  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  68  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  68  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  69  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  69  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  69  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  69  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  69  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  69  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  69  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  69  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  70  Conf:  1  Number of rules: 209
~~~~~~~~~Supp:  70  Conf:  11  Number of rules: 43
~~~~~~~~~Supp:  70  Conf:  21  Number of rules: 23
~~~~~~~~~Supp:  70  Conf:  31  Number of rules: 14
~~~~~~~~~Supp:  70  Conf:  41  Number of rules: 10
~~~~~~~~~Supp:  70  Conf:  51  Number of rules: 6
~~~~~~~~~Supp:  70  Conf:  61  Number of rules: 3
~~~~~~~~~Supp:  70  Conf:  71  Number of rules: 2
~~~~~~~~~Supp:  71  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  71  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  71  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  71  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  71  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  71  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  71  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  71  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  72  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  72  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  72  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  72  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  72  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  72  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  72  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  72  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  73  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  73  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  73  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  73  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  73  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  73  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  73  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  73  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  74  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  74  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  74  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  74  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  74  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  74  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  74  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  74  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  75  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  75  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  75  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  75  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  75  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  75  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  75  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  75  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  76  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  76  Conf:  11  Number of rules: 23
~~~~~~~~~Supp:  76  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  76  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  76  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  76  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  76  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  76  Conf:  71  Number of rules: 1
~~~~~~~~~Supp:  77  Conf:  1  Number of rules: 101
~~~~~~~~~Supp:  77  Conf:  11  Number of rules: 23

~~~~~~~~~Supp:  77  Conf:  21  Number of rules: 12
~~~~~~~~~Supp:  77  Conf:  31  Number of rules: 8
~~~~~~~~~Supp:  77  Conf:  41  Number of rules: 5
~~~~~~~~~Supp:  77  Conf:  51  Number of rules: 3
~~~~~~~~~Supp:  77  Conf:  61  Number of rules: 2
~~~~~~~~~Supp:  77  Conf:  71  Number of rules: 1