In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv("credit_default_train.csv")

In [2]:
nc=data.drop(['sex', 'education', 'status', 'age'], axis=1)

In [3]:
#FORMULA 1
count=0
rows=set()
for i in range(0, len(data)):
    for j in range(12, 17):
        ba=data.iat[i, j]
        if(ba!=0):
            pa=data.iat[i, j+5]
            if((ba-pa)<=0):
                ps=data.iat[i, j-7]
                if(ps!=-1):
                    count+=1
                    rows.add(i)
print("count ", count)
print('Rows: ', len(rows))

count  5616
Rows:  2865

In [4]:
#Se BA==0 non è detto che PS debba essere -2. 
#Perchè il BA==0 può essere conseguenza di un precedente BA<0 che è stato conpensato da una nuova spesa (portandolo a -2)
#FORMULA 2
count=0
mtwo=0
trows=set()
rows=set()
for i in range(0, len(data)):
    for j in range(11,16):
        ba=data.iat[i,j]
        precBa=data.iat[i,j+1]
        pa=data.iat[i,j+6]
        ps=data.iat[i,j-7]
        if(ba<=0):
            if(ba==(precBa-pa)):
                if(ps!=-2):
                    count+=1
                    rows.add(i)
                else:
                    mtwo+=1
                    trows.add(i)
print('Different from -2: ', count)
print('Equals to -2: ', mtwo)
print('Rows: ', len(rows))
print('Minus Two: ', len(trows))

Different from -2:  3051
Equals to -2:  2459
Rows:  1887
Minus Two:  1117

In [11]:
nc.head(1)

,limit,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,ba-sep,ba-aug,ba-jul,ba-jun,ba-may,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr,credit_default
0,50000,2,0,0,0,0,0,48966,49985,50760,49535,30358,30302,2130,1905,1811,1100,1100,1200,no

In [5]:
#FORMULA 5
count=0
mtwo=0
trows=set()
rows=set()
for i in range(0, len(data)):
    for j in range(11,16):
        ba=data.iat[i,j]
        ps=data.iat[i,j-7]
        if(ps==0):
            if(ba<=0):
                count+=1
                rows.add(i)
print('Count: ', count)
print('Rows: ', len(rows))

Count:  726
Rows:  480