<span>
<img src="http://www.sobigdata.eu/sites/default/files/logo-SoBigData-DEFINITIVO.png" width="180px" align="right"/>
</span>
<span>
<b>Author:</b> <a href="http://about.giuliorossetti.net">Giulio Rossetti</a><br/>
<b>Python version:</b>  3.x<br/>
<b>Last update:</b> 22/01/2018
</span>

<a id='top'></a>
# *Data Manipulation with Pandas*
This notebook contains an overview of basic Pandas functionalities.

**Note:** this notebook is purposely not 100% comprehensive, it only discusses the basic things you need to get started.

## Table of Contents
1. [Series](#series) 
    1. [Create](#sa)
    2. [Index and Slice](#sb)
    3. [Adding/Merging](#sc)
2. [DataFrames](#dataframes) 
    1. [Create and Access](#da)
    2. [Load a DataFrame from csv file](#db)
    3. [Reshape](#dc)
        1. [Index and Slice Columns](#dc1)
        2. [Select/Index Rows](#dc2)
        3. [Create and Delete Columns/Rows](#dc3)
        4. [Subset](#dc4)
        5. [Conditional Selection](#dc5)
        6. [Re-setting and Setting Index](#dc6)
        7. [Multi-indexing](#dc7)
    4. [Data Transformation](#de)
        1. [Missing Values](#de1)
        2. [GroupBy](#de2)
        3. [Concatenation](#de3)
        4. [Merging](#de4)
        5. [Joining](#de5)
        6. [Miscellanea](#de6)

In [2]:
import numpy as np
import pandas as pd

from collections import defaultdict

<a id='series'></a>
## 1. Series ([to top](#top))

Pandas Series are **one-dimensional** labeled arrays capable of holding any data type (integers, strings, floating point numbers...) <br/>
The axis labels are collectively referred to as the **index**.

<a id='sa'></a>
### 1.A Create ([to top](#top))
Pandas Series can be build by leveraging different data types

From numerical data

In [2]:
my_data = [10,20,30]
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

From numerical data and corresponding index (row labels)

In [3]:
labels = ['A','B','C']
pd.Series(data=my_data, index=labels)

A    10
B    20
C    30
dtype: int64

Just using a pre-defined dictionary

In [4]:
d = {'A':10,'B':20,'C':30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

<a id='sb'></a>
### 1.B Index and Slice ([to top](#top))
Series can be indexed and sliced

In [5]:
ser = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])

print("by name, A:", ser['A'])
print("by positional value in the series, A:", ser[0])
print("by range, B:D\n", ser[1:4], sep='')

by name, A: 1
by positional value in the series, A: 1
by range, B:D
B    2
C    3
D    4
dtype: int64

<a id='sc'></a>
### 1.C Adding/Merging  ([to top](#top))
Series havin having common indices can be combined

In [6]:
ser1 = pd.Series([1, 2, 3, 4], ['A', 'B', 'C', 'D'])
ser2 = pd.Series([1, 2, 5, 4], ['A', 'B', 'E', 'D'])
ser3 = ser1+ser2

After adding the two series, the result looks like this...

In [7]:
ser3

A    2.0
B    4.0
C    NaN
D    8.0
E    NaN
dtype: float64

Python tries to add values where it finds common index name, and puts NaN where indices are missing <br/>
The same happens for all possible operations (e.g., product)

In [8]:
ser1*ser2

A     1.0
B     4.0
C     NaN
D    16.0
E     NaN
dtype: float64

<a id='dataframes'></a>
## 2. DataFrame ([to top](#top))
A DataFrame is a **2-dimensional** labeled data structure with columns of potentially different types. <br/>
You can think of it like a spreadsheet or SQL table, or a dict of Series objects. <br/>
It is generally the most commonly used pandas object.

In [9]:
from numpy.random import randn as rn

<a id='da'></a>
### 2.A Create and Access ([to top](#top))
We start generating some random data...

In [10]:
np.random.seed()
matrix_data = rn(5,4)
matrix_data

array([[-1.25773467,  1.42535875,  0.03232188, -0.79078806],
       [ 0.84138971,  0.39646995, -1.31117882,  0.62541919],
       [ 1.11922572, -0.02004371, -0.36324384, -1.50250156],
       [-0.86762667,  0.25495671, -0.61758215, -0.03186088],
       [-0.85009271,  0.35767985,  0.7613278 ,  0.01562563]])

Now we can transform such random matrix in a DataFrame

In [11]:
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
df

          W         X         Y         Z
A -1.257735  1.425359  0.032322 -0.790788
B  0.841390  0.396470 -1.311179  0.625419
C  1.119226 -0.020044 -0.363244 -1.502502
D -0.867627  0.254957 -0.617582 -0.031861
E -0.850093  0.357680  0.761328  0.015626

<a id='db'></a>
### 2.B Load a DataFrame from csv file ([to top](#top))
Datasets formatted as csv files can be easily loaded into a DataFrame

In [3]:
titanic = pd.read_csv("home/daniele/Dropbox/MSC_Sant_Anna/Data Mining/Exercises/train.csv")

FileNotFoundError: File b'home/daniele/Dropbox/MSC_Sant_Anna/Data Mining/Exercises/train.csv' does not exist

In [ ]:
titanic.head()

#visual overview with columns

titanic.tail(10)

Simple statistics can be obtained through the *describe* method

In [ ]:
titanic.describe()

#if you don't do data understanding, you lose 5 points!
#percentiles, quantiles.. median (useful)

Or with the *info* one

In [ ]:
titanic.info()

<a id='dc'></a>
### 2.C Reshape ([to top](#top))
DataFrame structures can be reshaped in several ways in order to facilitate the analysis of the data they describe

<a id='dc1'></a>
### 2.C.a Index and Slice Columns ([to top](#top))

Slicing a single column produces a Series...

In [ ]:
titanic['Age']

In [ ]:
type(titanic['Age'])

An alternative syntax to access a single column is the *dot* notation

In [ ]:
titanic.Age

#### Unique values

In [ ]:
titanic['Age'].unique()

In [ ]:
titanic['Age'].value_counts()

#### DataFrame Filter

To obtain a DataFrame an additional bracket must be used

In [ ]:
titanic[['Age']].head()

In [ ]:
type(titanic[['Age']])

In [ ]:
titanic[['Age','Sex']].head() # Multiple selection

<a id='dc2'></a>
### 2.C.b Select/index Rows ([to top](#top))
Rows can be indexed by **label** as well as by **index**

In [ ]:
titanic.loc[[1, 2]]

In [ ]:
titanic.iloc[[1,2]]

<a id='dc3'></a>
### 2.C.c Create and Delete Columns/Rows ([to top](#top))

Adding a novel column combining existing ones

In [ ]:
titanic['Family'] = titanic['SibSp'] + titanic['Parch']
titanic.head()

Deleting an existing column

In [ ]:
titanic = titanic.drop('Parch', axis=1)
titanic = titanic.drop('SibSp', axis=1)
titanic.head()

Deleting a row (index) by using df.drop() method and axis=0

In [ ]:
titanic1 = titanic.drop(0, axis=0)
titanic1.head()

Updates can be performed **inplace** (without reasigning to a variable) by setting inplace=True

In [ ]:
titanic.drop(0, axis=0, inplace=True)
titanic.head()

<a id='dc4'></a>
### 2.C.d Subset ([to top](top))
Accessing an element in position (D,Y)

In [ ]:
titanic.loc[2,'Age']

Slicing by rows and columns at the same time

In [ ]:
titanic.loc[[2, 3],['Age','Sex']]

<a id='dc4'></a>
### 2.C.e Conditional Selection ([to top](#top))
Logical operators can be applied to DataFrame to perform filtering and selections

**Example:** a boolean DataFrame where we are checking if the values are greater than 0

In [ ]:
booldf = titanic>0
booldf.head()

A bolean DataFrame can also be used to filter the original values

In [ ]:
titanic[booldf].head()

#### Conditionally subset a DataFrame with Boolean series
Let's define a DataFrame describing individuals measurements

We can filter it easily by specifying a condition on the cell values

In [ ]:
titanic[titanic['Age']>35].head()

Multiple conditions can be stacked together using boolean operators

In [ ]:
booldf1 = titanic['Age']>35
booldf2 = titanic['Family']>2

In [ ]:
booldf2

In [ ]:
titanic[(booldf1) & (booldf2)].head()

Filtering results can be subsetted as usual selecting rows/columns

In [ ]:
titanic[booldf1][['Age','Sex']].head()

<a id='dc5'></a>
### 2.C.f Re-setting and Setting Index ([to top](#top))
In the previuos example we specified an index. <br/>
We can destroy such index (making it a simple column of the DataFrame) easily

In [ ]:
titanic.reset_index().head()

Conversely, if we do not need such additional column we can drop it contextually

In [ ]:
titanic.reset_index(drop=True).head()

Now we can add a new column and set it as new index

In [ ]:
titanic.set_index('Name').head()

<a id='dc5'></a>
### 2.C.g Multi-indexing ([to top](#top))
DataFrame indexes can have multiple levels <br/>
We can define a two level index as follows:

In [ ]:
t2 = titanic[['Name', 'Family', 'Age']]
t2.head()

In [ ]:
t2.set_index(['Family', 'Age'], inplace=True)

For sake of clarity we can rename the indexes as follows

In [ ]:
t2.index.names=['Outer', 'Inner']
t2.head()

Subsetting now becomes trikier, but the syntax remains the same. <br/>
We can select the subset (38.0)(Name) of Outer=1 by using the *loc* function twice

In [ ]:
t2.loc[1].loc[[38.0]][['Name']]

<a id='de'></a>
## 3. Data Transformation ([to top](#top))
Data stored in a DataFrame can be transformed applying several functions.

<a id='de1'></a>
### 3.A Missing Values ([to top](#top))
In presence of missing values different policies can be selected

#### Dropping any rows with a NaN value

In [ ]:
titanic.dropna(axis=0).head()

#### Dropping any columns with NaN value

In [ ]:
titanic.dropna(axis=1).head()

#### Thresholding: dropping a row with a minimum 5 NaN

In [ ]:
titanic.dropna(axis=0, thresh=5).head()

#### Filling values with a default value

In [ ]:
titanic.fillna(value='FILL VALUE').head()

#### Filling values with a computed value (e.g., mean of column A)

In [ ]:
titanic.fillna(value={'Age': titanic['Age'].mean()}).head()

<a id='de2'></a>
### 3.B GroupBy ([to top](#top))
DataFrames allow to group rows by column values so to compute aggregated statistics (i.e., sum, mean...)

In [ ]:
t3 = titanic.groupby('Family')
t3[['Age']].mean()

In [ ]:
t4 = pd.DataFrame(titanic[['Age', 'Family']].groupby('Family').describe())
t4

In order to select a single row of the resulting DataFrame it is necessary to:
- access it via *loc*
- transpose the results

In [ ]:
titanic_first_class = pd.DataFrame(t4.loc[1])
titanic_first_class

In [ ]:
titanic_first_class.transpose()

The latter operation is not required if the selection is on multiple rows

In [ ]:
titanic[['Age', 'Family']].groupby('Family').describe().loc[[1, 2, 3]]

<a id='de3'></a>
### 3.C Concatenation ([to top](#top))

DataFrames can be easily contatenated by row as well as by column

In [ ]:
trip = pd.read_csv("data/titanic_status.csv")
trip.head()

In [ ]:
passengers = pd.read_csv("data/titanic_passengers.csv")
passengers.head()

In [ ]:
row_concat = pd.concat([passengers, trip], axis=0)
row_concat.head()

In [ ]:
column_concat = pd.concat([passengers, trip], axis=1)
column_concat.head()

Filling NaN with a fixed value

In [ ]:
column_concat.fillna(value=0, inplace=True)
column_concat.head()

<a id='de4'></a>
### 3.D Merging ([to top](#top))
DataFrames can be merged if they share a **common key**. <br/>
The merge function allows you to merge DataFrames together using a similar logic as merging SQL Tables together.

In [ ]:
merge1 = pd.merge(passengers, trip, how='inner',on=['PassengerId'])
merge1.head()

In [ ]:
pd.merge(passengers, trip, how='outer',on=['PassengerId']).head()

In [ ]:
pd.merge(passengers, trip, how='left',on=['PassengerId']).head()

In [ ]:
pd.merge(passengers, trip, how='right',on=['PassengerId']).head()

<a id='de5'></a>
### 3.E Joining ([to top](#top))
Joining is a convenient method for combining the columns of two **potentially differently-indexed** DataFrames into a single DataFrame based on 'index keys'.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

<a id='de6'></a>
### 3.F Miscellanea ([to top](#top))

#### Applying functions to DataFrame values
Pandas works with 'apply' method to accept any user-defined function...

In [ ]:
# Define a function
def adulthood(x):
    if x<18:
        return False
    else:
        return True

In [ ]:
passengers['Adult'] = passengers['Age'].apply(adulthood)
passengers.head()

... as well as with **built-in ones**

In [ ]:
passengers['Name Length']= passengers['Name'].apply(len)
passengers.head()

#### Standard statistical functions

In [ ]:
passengers['Age'].max()

In [ ]:
passengers['Age'].mean()

In [ ]:
passengers['Age'].std()

In [ ]:
passengers['Age'].min()

#### Get the list of column and row names

Getting column names

In [ ]:
passengers.columns

#### Deletion by *del* command 
(N.B.: This affects the dataframe immediately, unlike drop method)

In [ ]:
del passengers['Name Length']
passengers.head()

#### Sorting and Ordering a DataFrame

In [ ]:
passengers.sort_values(by='Age').head()

In [ ]:
passengers.sort_values(by='Age',ascending=False).head()

#### Find Null Values or Check for Null Values

In [ ]:
titanic.isnull().head()

#MISSING VALUES!!!
#IF TOO MANY MISSING VALUES, remove attribute directly
#continuous values --> mean
#categorial --> most frequent (mode)

In [ ]:
titanic.fillna('FAKE VALUE').head()

#### Pivot Table

In [ ]:
# Index out of 'Age', columns from 'SibSp', actual numerical values from 'Age'
passengers.pivot_table(values='Age',index=['Sex'],columns=['SibSp'], aggfunc='mean')

In [ ]:
# Index out of 'SibSp' and 'Parch', columns from 'Sex', actual numerical values from 'Age'
passengers.pivot_table(values='Age',index=['SibSp', 'Parch'],columns=['Sex'], fill_value='FILLED', aggfunc='mean')

#### Check and reset variable types

In [ ]:
passengers.dtypes

In [ ]:
passengers.Age = passengers.Age.astype(float)

In [ ]:
passengers.dtypes

In [ ]:
df.corr() #correlation matrix (numerical, which is supposed to be categorical DOESNT make any sense!)
#categorial attributes(just in principle!!)

#scatter plot of survivors vs non-survivors
#scatter plot of debit payers vs non-debit payers

#can just be limited to a few attributes
pd.scatter(-matrxI

In [ ]:
.value_counts(): Count amount of occurrences per attribute