In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from fim import apriori
import sys
import os

#os.chdir('/home/daniele/dm-group-1/Code/Daniele')

#import Gemma's function for removing outliers
sys.path.insert(0, '../../Gemma/Part1')
from outliers import removeOutliers

#import Riccardo's function for removing missing values
sys.path.insert(0, '../../Riccardo')
from MissingValues_3 import remove_missing_values

#import Daniele's function for converting education into a numerical attribute
#import also Daniele's function for adding mean columns' value to the data frame

sys.path.insert(0, '../../Maddalena')
from formula_1_2_correction import correct_ps_values

In [4]:
#load dataset into a dataframe
credit_cards = pd.read_csv("../../../Dataset/credit_default_train.csv")
credit_cards = remove_missing_values(credit_cards)
removeOutliers(credit_cards)

Initial size of data frame:  (10000, 24)
Visual analysis, number of rows to be dropped:  30
Final size of data frame:  (9970, 24)

In [33]:
data = credit_cards

In [34]:
data['AgeBin'] = pd.cut(data['age'].astype(int), 5, right=False)
data['LimitBin'] = pd.cut(data['limit'].astype(int), 7, right=False)

data.drop(['age', 'limit'], axis=1, inplace=True)

In [35]:
data.head()

,sex,education,status,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,ba-sep,...,ba-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr,credit_default,AgeBin,LimitBin
0,male,graduate school,single,2,0,0,0,0,0,48966,...,30302,2130,1905,1811,1100,1100,1200,no,"[21.0, 31.8)","[10000.0, 120000.0)"
1,male,university,married,-1,-1,-1,-1,-1,-1,10755,...,7956,10120,7852,6336,4622,7956,5499,no,"[53.4, 64.2)","[120000.0, 230000.0)"
2,female,high school,married,2,3,2,2,2,0,30057,...,29047,0,1700,1100,3,1053,1303,no,"[31.8, 42.6)","[10000.0, 120000.0)"
3,female,university,single,0,0,0,0,0,0,56426,...,23783,2000,2000,900,2000,10000,5000,no,"[21.0, 31.8)","[120000.0, 230000.0)"
4,female,high school,married,1,2,2,0,0,0,47987,...,52773,1788,0,1894,1801,3997,0,yes,"[31.8, 42.6)","[10000.0, 120000.0)"

In [36]:
data['AgeBin'].unique()

[[21.0, 31.8), [53.4, 64.2), [31.8, 42.6), [42.6, 53.4), [64.2, 75.054)]
Categories (5, interval[float64]): [[21.0, 31.8) < [31.8, 42.6) < [42.6, 53.4) < [53.4, 64.2) < [64.2, 75.054)]

In [7]:
data['ba-sep_bin'] = pd.cut(data['ba-sep'].astype(int), 7, right=False)
data['ba-aug_bin'] = pd.cut(data['ba-aug'].astype(int), 7, right=False)
data['ba-jul_bin'] = pd.cut(data['ba-jul'].astype(int), 7, right=False)
data['ba-jun_bin'] = pd.cut(data['ba-jun'].astype(int), 7, right=False)
data['ba-may_bin'] = pd.cut(data['ba-may'].astype(int), 7, right=False)
data['ba-apr_bin'] = pd.cut(data['ba-apr'].astype(int), 7, right=False)

In [37]:
data.drop(['ba-sep', 'ba-aug', 'ba-jul', 'ba-jun', 'ba-may', 'ba-apr'], axis=1, inplace=True)

In [38]:
data.head()

,sex,education,status,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,pa-sep,pa-aug,pa-jul,pa-jun,pa-may,pa-apr,credit_default,AgeBin,LimitBin
0,male,graduate school,single,2,0,0,0,0,0,2130,1905,1811,1100,1100,1200,no,"[21.0, 31.8)","[10000.0, 120000.0)"
1,male,university,married,-1,-1,-1,-1,-1,-1,10120,7852,6336,4622,7956,5499,no,"[53.4, 64.2)","[120000.0, 230000.0)"
2,female,high school,married,2,3,2,2,2,0,0,1700,1100,3,1053,1303,no,"[31.8, 42.6)","[10000.0, 120000.0)"
3,female,university,single,0,0,0,0,0,0,2000,2000,900,2000,10000,5000,no,"[21.0, 31.8)","[120000.0, 230000.0)"
4,female,high school,married,1,2,2,0,0,0,1788,0,1894,1801,3997,0,yes,"[31.8, 42.6)","[10000.0, 120000.0)"

In [39]:
data['pa-sep_bin'] = pd.cut(data['pa-sep'].astype(int), 5, right=False)
data['pa-aug_bin'] = pd.cut(data['pa-aug'].astype(int), 5, right=False)
data['pa-jul_bin'] = pd.cut(data['pa-jul'].astype(int), 5, right=False)
data['pa-jun_bin'] = pd.cut(data['pa-jun'].astype(int), 5, right=False)
data['pa-may_bin'] = pd.cut(data['pa-may'].astype(int), 5, right=False)
data['pa-apr_bin'] = pd.cut(data['pa-apr'].astype(int), 5, right=False)

In [40]:
data.drop(['pa-sep', 'pa-aug', 'pa-jul', 'pa-jun', 'pa-may', 'pa-apr'], axis=1, inplace=True)

In [41]:
data.head()

,sex,education,status,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,credit_default,AgeBin,LimitBin,pa-sep_bin,pa-aug_bin,pa-jul_bin,pa-jun_bin,pa-may_bin,pa-apr_bin
0,male,graduate school,single,2,0,0,0,0,0,no,"[21.0, 31.8)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
1,male,university,married,-1,-1,-1,-1,-1,-1,no,"[53.4, 64.2)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
2,female,high school,married,2,3,2,2,2,0,no,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
3,female,university,single,0,0,0,0,0,0,no,"[21.0, 31.8)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
4,female,high school,married,1,2,2,0,0,0,yes,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"

In [42]:
data.columns

Index(['sex', 'education', 'status', 'ps-sep', 'ps-aug', 'ps-jul', 'ps-jun',
       'ps-may', 'ps-apr', 'credit_default', 'AgeBin', 'LimitBin',
       'pa-sep_bin', 'pa-aug_bin', 'pa-jul_bin', 'pa-jun_bin', 'pa-may_bin',
       'pa-apr_bin'],
      dtype='object')

In [44]:
data['ba-sep_bin'] = data['ba-sep_bin'].astype(str) + '_ba-sep'
data['ba-aug_bin'] = data['ba-aug_bin'].astype(str) + '_ba-aug'
data['ba-jul_bin'] = data['ba-jul_bin'].astype(str) + '_ba-jul'
data['ba-jun_bin'] = data['ba-jun_bin'].astype(str) + '_ba-jun'
data['ba-may_bin'] = data['ba-may_bin'].astype(str) + '_ba-may'
data['ba-apr_bin'] = data['ba-apr_bin'].astype(str) + '_ba-apr'

data['pa-sep_bin'] = data['pa-sep_bin'].astype(str) + '_pa-sep'
data['pa-aug_bin'] = data['pa-aug_bin'].astype(str) + '_pa-aug'
data['pa-jul_bin'] = data['pa-jul_bin'].astype(str) + '_pa-jul'
data['pa-jun_bin'] = data['pa-jun_bin'].astype(str) + '_pa-jun'
data['pa-may_bin'] = data['pa-may_bin'].astype(str) + '_pa-may'
data['pa-apr_bin'] = data['pa-apr_bin'].astype(str) + '_pa-apr'

data['AgeBin'] = data['AgeBin'].astype(str) + '_Age'
data['LimitBin'] = data['LimitBin'].astype(str) + '_Limit'

KeyError: 'ba-sep_bin'

In [45]:
data['ps-sep'] = data['ps-sep'].astype(str) + '_ps-sep'
data['ps-aug'] = data['ps-aug'].astype(str) + '_ps-aug'
data['ps-jul'] = data['ps-jul'].astype(str) + '_ps-jul'
data['ps-jun'] = data['ps-jun'].astype(str) + '_ps-jun'
data['ps-may'] = data['ps-may'].astype(str) + '_ps-may'
data['ps-apr'] = data['ps-apr'].astype(str) + '_ps-apr'

In [46]:
data.head()

,sex,education,status,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,credit_default,AgeBin,LimitBin,pa-sep_bin,pa-aug_bin,pa-jul_bin,pa-jun_bin,pa-may_bin,pa-apr_bin
0,male,graduate school,single,2_ps-sep,0_ps-aug,0_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,no,"[21.0, 31.8)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
1,male,university,married,-1_ps-sep,-1_ps-aug,-1_ps-jul,-1_ps-jun,-1_ps-may,-1_ps-apr,no,"[53.4, 64.2)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
2,female,high school,married,2_ps-sep,3_ps-aug,2_ps-jul,2_ps-jun,2_ps-may,0_ps-apr,no,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
3,female,university,single,0_ps-sep,0_ps-aug,0_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,no,"[21.0, 31.8)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
4,female,high school,married,1_ps-sep,2_ps-aug,2_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,yes,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"

In [47]:
cd_ = data['credit_default']
data = data.drop(columns=['credit_default'])
data.insert(loc=0, column='credit_default', value=cd_)
data.head()

,credit_default,sex,education,status,ps-sep,ps-aug,ps-jul,ps-jun,ps-may,ps-apr,AgeBin,LimitBin,pa-sep_bin,pa-aug_bin,pa-jul_bin,pa-jun_bin,pa-may_bin,pa-apr_bin
0,no,male,graduate school,single,2_ps-sep,0_ps-aug,0_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,"[21.0, 31.8)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
1,no,male,university,married,-1_ps-sep,-1_ps-aug,-1_ps-jul,-1_ps-jun,-1_ps-may,-1_ps-apr,"[53.4, 64.2)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
2,no,female,high school,married,2_ps-sep,3_ps-aug,2_ps-jul,2_ps-jun,2_ps-may,0_ps-apr,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
3,no,female,university,single,0_ps-sep,0_ps-aug,0_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,"[21.0, 31.8)","[120000.0, 230000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"
4,yes,female,high school,married,1_ps-sep,2_ps-aug,2_ps-jul,0_ps-jun,0_ps-may,0_ps-apr,"[31.8, 42.6)","[10000.0, 120000.0)","[0.0, 64602.8)","[0.0, 77625.2)","[0.0, 83517.6)","[0.0, 58592.4)","[0.0, 60702.4)","[0.0, 88600.2)"

In [48]:
baskets = data.values.tolist()

In [49]:
baskets[0]

['no',
 'male',
 'graduate school',
 'single',
 '2_ps-sep',
 '0_ps-aug',
 '0_ps-jul',
 '0_ps-jun',
 '0_ps-may',
 '0_ps-apr',
 Interval(21.0, 31.8, closed='left'),
 Interval(10000.0, 120000.0, closed='left'),
 Interval(0.0, 64602.8, closed='left'),
 Interval(0.0, 77625.2, closed='left'),
 Interval(0.0, 83517.6, closed='left'),
 Interval(0.0, 58592.4, closed='left'),
 Interval(0.0, 60702.4, closed='left'),
 Interval(0.0, 88600.2, closed='left')]

In [19]:
#rules = apriori(baskets, supp=10, zmin=2, conf=60, target='r', report='scl')

In [50]:
for s in range(1, 100):
    print(s)
    rules = apriori(baskets, supp=s, zmin=2, target='a', conf=60, report='scl')
    numRules= len(rules)
    print(numRules)
    if (numRules == 0):
        break
    print('~~~~~~~~~Supp: ', s, ' Conf: 60 Number of rules:', len(rules))
    for r in rules:
        if r[0] == 'yes':
            print(r)

1
3855179
~~~~~~~~~Supp:  1  Conf: 60 Number of rules: 3855179
2
1733380
~~~~~~~~~Supp:  2  Conf: 60 Number of rules: 1733380
3
1027385
~~~~~~~~~Supp:  3  Conf: 60 Number of rules: 1027385
4
702350
~~~~~~~~~Supp:  4  Conf: 60 Number of rules: 702350
5
501170
~~~~~~~~~Supp:  5  Conf: 60 Number of rules: 501170
6
370915
~~~~~~~~~Supp:  6  Conf: 60 Number of rules: 370915
7
291953
~~~~~~~~~Supp:  7  Conf: 60 Number of rules: 291953
8
231755
~~~~~~~~~Supp:  8  Conf: 60 Number of rules: 231755
9
187348
~~~~~~~~~Supp:  9  Conf: 60 Number of rules: 187348
10
150493
~~~~~~~~~Supp:  10  Conf: 60 Number of rules: 150493
11
121421
~~~~~~~~~Supp:  11  Conf: 60 Number of rules: 121421
12
100049
~~~~~~~~~Supp:  12  Conf: 60 Number of rules: 100049
13
84088
~~~~~~~~~Supp:  13  Conf: 60 Number of rules: 84088
14
71563
~~~~~~~~~Supp:  14  Conf: 60 Number of rules: 71563
15
61880
~~~~~~~~~Supp:  15  Conf: 60 Number of rules: 61880
16
52249
~~~~~~~~~Supp:  16  Conf: 60 Number of rules: 52249
17
44642
~~~~~~~~~Supp:  17  Conf: 60 Number of rules: 44642
18
38111
~~~~~~~~~Supp:  18  Conf: 60 Number of rules: 38111
19
31913
~~~~~~~~~Supp:  19  Conf: 60 Number of rules: 31913
20
26902
~~~~~~~~~Supp:  20  Conf: 60 Number of rules: 26902
21
22737
~~~~~~~~~Supp:  21  Conf: 60 Number of rules: 22737
22
19105
~~~~~~~~~Supp:  22  Conf: 60 Number of rules: 19105
23
16560
~~~~~~~~~Supp:  23  Conf: 60 Number of rules: 16560
24
14364
~~~~~~~~~Supp:  24  Conf: 60 Number of rules: 14364
25
12849
~~~~~~~~~Supp:  25  Conf: 60 Number of rules: 12849
26
11992
~~~~~~~~~Supp:  26  Conf: 60 Number of rules: 11992
27
11109
~~~~~~~~~Supp:  27  Conf: 60 Number of rules: 11109
28
10366
~~~~~~~~~Supp:  28  Conf: 60 Number of rules: 10366
29
9781
~~~~~~~~~Supp:  29  Conf: 60 Number of rules: 9781
30
9256
~~~~~~~~~Supp:  30  Conf: 60 Number of rules: 9256
31
8719
~~~~~~~~~Supp:  31  Conf: 60 Number of rules: 8719
32
7903
~~~~~~~~~Supp:  32  Conf: 60 Number of rules: 7903
33
7154
~~~~~~~~~Supp:  33  Conf: 60 Number of rules: 7154
34
6234
~~~~~~~~~Supp:  34  Conf: 60 Number of rules: 6234
35
5453
~~~~~~~~~Supp:  35  Conf: 60 Number of rules: 5453
36
4735
~~~~~~~~~Supp:  36  Conf: 60 Number of rules: 4735
37
4046
~~~~~~~~~Supp:  37  Conf: 60 Number of rules: 4046
38
3534
~~~~~~~~~Supp:  38  Conf: 60 Number of rules: 3534
39
3030
~~~~~~~~~Supp:  39  Conf: 60 Number of rules: 3030
40
2623
~~~~~~~~~Supp:  40  Conf: 60 Number of rules: 2623
41
2224
~~~~~~~~~Supp:  41  Conf: 60 Number of rules: 2224
42
1877
~~~~~~~~~Supp:  42  Conf: 60 Number of rules: 1877
43
1552
~~~~~~~~~Supp:  43  Conf: 60 Number of rules: 1552
44
1268
~~~~~~~~~Supp:  44  Conf: 60 Number of rules: 1268
45
1123
~~~~~~~~~Supp:  45  Conf: 60 Number of rules: 1123
46
959
~~~~~~~~~Supp:  46  Conf: 60 Number of rules: 959
47
792
~~~~~~~~~Supp:  47  Conf: 60 Number of rules: 792
48
626
~~~~~~~~~Supp:  48  Conf: 60 Number of rules: 626
49
565
~~~~~~~~~Supp:  49  Conf: 60 Number of rules: 565
50
559
~~~~~~~~~Supp:  50  Conf: 60 Number of rules: 559
51
500
~~~~~~~~~Supp:  51  Conf: 60 Number of rules: 500
52
383
~~~~~~~~~Supp:  52  Conf: 60 Number of rules: 383
53
318
~~~~~~~~~Supp:  53  Conf: 60 Number of rules: 318
54
250
~~~~~~~~~Supp:  54  Conf: 60 Number of rules: 250
55
203
~~~~~~~~~Supp:  55  Conf: 60 Number of rules: 203
56
184
~~~~~~~~~Supp:  56  Conf: 60 Number of rules: 184
57
183
~~~~~~~~~Supp:  57  Conf: 60 Number of rules: 183
58
183
~~~~~~~~~Supp:  58  Conf: 60 Number of rules: 183
59
175
~~~~~~~~~Supp:  59  Conf: 60 Number of rules: 175
60
140
~~~~~~~~~Supp:  60  Conf: 60 Number of rules: 140
61
120
~~~~~~~~~Supp:  61  Conf: 60 Number of rules: 120
62
120
~~~~~~~~~Supp:  62  Conf: 60 Number of rules: 120
63
120
~~~~~~~~~Supp:  63  Conf: 60 Number of rules: 120
64
120
~~~~~~~~~Supp:  64  Conf: 60 Number of rules: 120
65
120
~~~~~~~~~Supp:  65  Conf: 60 Number of rules: 120
66
120
~~~~~~~~~Supp:  66  Conf: 60 Number of rules: 120
67
120
~~~~~~~~~Supp:  67  Conf: 60 Number of rules: 120
68
120
~~~~~~~~~Supp:  68  Conf: 60 Number of rules: 120
69
120
~~~~~~~~~Supp:  69  Conf: 60 Number of rules: 120
70
120
~~~~~~~~~Supp:  70  Conf: 60 Number of rules: 120
71
120
~~~~~~~~~Supp:  71  Conf: 60 Number of rules: 120
72
120
~~~~~~~~~Supp:  72  Conf: 60 Number of rules: 120
73
120
~~~~~~~~~Supp:  73  Conf: 60 Number of rules: 120
74
113
~~~~~~~~~Supp:  74  Conf: 60 Number of rules: 113
75
98
~~~~~~~~~Supp:  75  Conf: 60 Number of rules: 98
76
69
~~~~~~~~~Supp:  76  Conf: 60 Number of rules: 69
77
58
~~~~~~~~~Supp:  77  Conf: 60 Number of rules: 58
78
57
~~~~~~~~~Supp:  78  Conf: 60 Number of rules: 57
79
57
~~~~~~~~~Supp:  79  Conf: 60 Number of rules: 57
80
57
~~~~~~~~~Supp:  80  Conf: 60 Number of rules: 57
81
57
~~~~~~~~~Supp:  81  Conf: 60 Number of rules: 57
82
57
~~~~~~~~~Supp:  82  Conf: 60 Number of rules: 57
83
57
~~~~~~~~~Supp:  83  Conf: 60 Number of rules: 57
84
57
~~~~~~~~~Supp:  84  Conf: 60 Number of rules: 57
85
57
~~~~~~~~~Supp:  85  Conf: 60 Number of rules: 57
86
57
~~~~~~~~~Supp:  86  Conf: 60 Number of rules: 57
87
57
~~~~~~~~~Supp:  87  Conf: 60 Number of rules: 57
88
57
~~~~~~~~~Supp:  88  Conf: 60 Number of rules: 57
89
57
~~~~~~~~~Supp:  89  Conf: 60 Number of rules: 57
90
57
~~~~~~~~~Supp:  90  Conf: 60 Number of rules: 57
91
57
~~~~~~~~~Supp:  91  Conf: 60 Number of rules: 57
92
57
~~~~~~~~~Supp:  92  Conf: 60 Number of rules: 57
93
57
~~~~~~~~~Supp:  93  Conf: 60 Number of rules: 57
94
57
~~~~~~~~~Supp:  94  Conf: 60 Number of rules: 57
95
56
~~~~~~~~~Supp:  95  Conf: 60 Number of rules: 56
96
50
~~~~~~~~~Supp:  96  Conf: 60 Number of rules: 50
97
30
~~~~~~~~~Supp:  97  Conf: 60 Number of rules: 30
98
7
~~~~~~~~~Supp:  98  Conf: 60 Number of rules: 7
99
0